/* --------------------------------------------------------
author: Yusuf AKCESME
email: yusufakcesme0[at]gmail.com
website: https://yusufakcesme.com


1) profesyoneller behance kişiler, foto 3 olabilir   XXXXXXXXXXXXXXXXXXXXXXXX
2) prof. çerçeve açık sarı ve ince        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
3) araçlar ekle							  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
4) takip et ve ad soyad, title küçült     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

TASARIM
3) https://www.behance.net/galleries tasarim sayfası böyle olacak  XXXXXXXXXX
4) button çerçeve açık sarı, altına <hr>  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
5) mimari üste çıkacak tasarim sayfasında XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

BLOG
1)blog yazı karakter sınırla 1 satır      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
2) comment yanına beğeni ekle             XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
3)pagination font küçült 1 px ok sağa doğru sadece  XXXXXXXXXXXXXXXXXXXXXXXXX
4) fotolar ve margin tasarim sayfasıyla aynı        XXXXXXXXXXXXXXXXXXXXXXXXX

BLOG DETAY 
1) içerik uzat biraz                      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
2) yazının altında beğen olacak           XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
3) kevin yanına profil foto               XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX





----------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;
}

:root {
	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;
}


@font-face {
	font-family: coco-bold;
	src: url(../fonts/coco-bold.ttf) format("truetype");
}

@font-face {
	font-family: coco-regular;
	src: url(../fonts/coco-regular.ttf) format("truetype");
}

@font-face {
	font-family: coco-light;
	src: url(../fonts/coco-light.ttf) format("truetype");
}

@font-face {
	font-family: nunito-bold;
	src: url(../fonts/nunito-bold.ttf) format("truetype");
}

@font-face {
	font-family: nunito-regular;
	src: url(../fonts/nunito-regular.ttf) format("truetype");
}

@font-face {
	font-family: nunito-light;
	src: url(../fonts/nunito-light.ttf) format("truetype");
}

@font-face {
	font-family: coco-small-regular;
	src: url(../fonts/coco-small-regular.ttf) format("truetype");
}

@font-face {
	font-family: sofiapro-light;
	src: url(../fonts/sofiapro-light.otf) format("truetype");
}


body {
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
}


header {
	width: 100%;
	min-height: 60px;
	position: fixed;
	z-index: 9995;
	top: 0;
	left: 0;
	padding: 0 5%;	
	background-color: #272726;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


header .logo h1 a {
	font-size: 32px;
	color: #fff;
	font-family: 'sofiapro-light';
	letter-spacing: 1px;
}

header .logo h1 a > span {
	color: #FFD982;
}

header .search-bar {
	width: 400px;
	height: 36px;
	position: relative;
	border-radius: 25px;
	border: none;
	margin-left: -20px;
}

header .search-bar input {
	width: 100%;
	height: 36px;
	border-radius: 25px;
	border: 1.8px solid #FFD982;
	background-color: #3A3A39;
	padding: 0 40px;
	color: #fff;
	font-weight: var(--bold);
}

header .search-bar input::placeholder {
	font-family: 'nunito-light';
	letter-spacing: 1px;
	color: #999;
}

header .search-bar button {
	position: absolute;
	border: none;
	background: none;
	top: 50%;
	left: 15px;
	font-size: 18px;
	color: #D9D9D9;
	transform: translateY(-50%);
}

header nav {
	display: flex;
}

header nav a {
	font-size: 14px;
	text-transform: uppercase;
	color: #fbfbfb;
	font-family: 'coco-small-regular';
	margin-left: 22px;
	letter-spacing: 1px;
}

header nav a.active-header {
	color: #FFD982 !important;
}

header .login-btn {
	display: flex;
	align-items: center;
}

header .login-btn .user-rounded {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #FFD982;
	color: #FFD982;
}


header .login-btn a {
	font-size: 13px;
	text-transform: uppercase;
	color: #fbfbfb;
	font-family: 'coco-regular';
	margin-left: 10px;
	cursor: pointer;
}


/* header finish */


/* hero image start */

section.hero-image {
	width: 100%;
	height: 260px;
	margin-top: 60px;
	overflow: hidden;
	position: relative;
}

section.hero-image .image-overlay {
	position: absolute;
	width: 100%;
	height: 260px;
	background-color: rgba(0,0,0,.6);
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

section.hero-image .image-overlay h1 {
	font-size: 40px;
	font-weight: var(--light);
	text-align: center;
	color: #fff;
	margin-top: 15px;
}

section.hero-image .image-overlay a {
	border: 2px solid #FFD982;
	display: flex;
	width: 140px;
	height: 34px;
	border-radius: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFD982;
	margin-bottom: 35px;
	font-family: 'nunito-regular';
}

section.hero-image .image-overlay a:hover {
	transition: .3s;
	background-color: #FFD982;
	color: #363732;
}

/*  hero iamge finish */

.tabs {
	width: 100%;
	min-height: 60px;
	background-color: #fff;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.16);
	display: flex;
	justify-content: center;
}

.tabs a {
	line-height: 60px;
	padding: 0 30px;
	font-family: 'nunito-bold';
	color: #363732;
}

.active-tab {
	color: #AA7C13 !important;
}

/* tabs finish */


section.design-competition {
	width: 100%;
	height: auto;
}

.section-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
}

.section-text h1 {
	font-size: 28px;
	font-family: 'nunito-light';
	color: #AA7C13;
}

.section-text p {
	font-size: 16px;
	font-family: 'nunito-light';
	color: #363732;
	margin-top: 5px;
	text-align: center;
}

section.design-competition .card-container {
	width: 90%;
	height: auto;
	margin: 30px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

section.design-competition .card-container .card {
	width: 320px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.design-competition .card-container .card .card-img {
	width: 320px;
	height: 250px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

section.design-competition .card-container .card .card-img img {
	width: 320px;
	height: 250px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
	border-radius: 5px;
}

section.design-competition .card-container .card a {
	width: 110px;
	height: 35px;
	border-radius: 20px;
	display: flex;
	line-height: 33px;
	justify-content: center;
	color: #AA7C13;
	font-family: 'nunito-regular';
	font-size: 15px;
	border: 2px solid #AA7C13;
	margin-top: 20px;
}

section.design-competition .card-container .card a:hover {
	transition: .3s;
	background-color: #AA7C13;
	color: #fff;
}


section.design-competition .card-container .card .card-img .card-img-overlay {
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.76) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.76) 0%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to top,  rgba(0,0,0,0.76) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db000000', endColorstr='#007db9e8',GradientType=0 );
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
}

section.design-competition .card-container .card .card-img:hover .card-img-overlay {
	display: flex;
}


section.design-competition .card-container .card .card-img .card-img-overlay span {
	font-size: 12px;
	font-family: 'nunito-bold';
	color: #FFD982;
}

section.design-competition .card-container .card .card-img .card-img-overlay p {
	font-size: 16px;
	font-family: 'nunito-regular';
	color: #fff;
}

section.design-competition .card-container .card .card-img .card-img-overlay p > b {
	font-size: 16px;
	font-family: 'nunito-regular';
	color: #FFD982;
}

/* finish cards */ 


section.design-ideas {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

section.design-ideas .big-image {
	width: 100%;
	height: 420px;
	margin-top: 20px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

}

section.design-ideas .big-image > img {
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.1);
}

section.design-ideas .big-image .big-img-overlay {
	width: 100%;
	height: 60%;
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.86) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.86) 0%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to top,  rgba(0,0,0,0.86) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db000000', endColorstr='#007db9e8',GradientType=0 );
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 30px;
}

section.design-ideas .big-image .big-img-overlay h3 {
	font-size: 34px;
	color: #fff;
	font-family: 'nunito-regular';
}

section.design-ideas .big-image .big-img-overlay span {
	font-size: 20px;
	font-family: 'coco-regular';
	color: #FFD982;
	margin-bottom: 10px;
}

section.design-ideas .big-image .big-img-overlay p {
	font-size: 17px;
	font-family: 'coco-light';
	color: #fff;
}


section.design-ideas .gallery {
	max-width: 100%;
	height: auto;
	margin: 40px auto 0px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

section.design-ideas .gallery .gallery-img {
	position: relative;
	height: auto;
	display: flex;
	flex-direction: column;
}


section.design-ideas .gallery .gallery-img:hover .gallery-img-overlay {
	display: flex;
	padding-left: 26px;
	padding-bottom: 16px;
}

section.design-ideas .gallery .gallery-img .gallery-img-overlay {
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 32px;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.76) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.76) 0%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to top,  rgba(0,0,0,0.76) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db000000', endColorstr='#007db9e8',GradientType=0 );
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
}

section.design-ideas .gallery .gallery-img > img {
	width: 320px;
	height: 230px;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.16);
}


section.design-ideas .gallery .gallery-img .gallery-img-overlay span {
	font-size: 12px;
	font-family: 'coco-regular';
	color: #FFD982;
}

section.design-ideas .gallery .gallery-img .gallery-img-overlay p {
	font-size: 16px;
	font-family: 'nunito-regular';
	color: #fff;
}

section.design-ideas .gallery .gallery-img .gallery-img-overlay p > b {
	font-size: 16px;
	font-weight: var(--medium);
	color: #FFD982;
}




.index-gallery-bottom {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	margin: 5px 0;
	background: none;
}

.index-gallery-bottom img {
	border-radius: 50%;
}

.index-gallery-bottom> a {
	font-size: 14px;
	font-family: 'nunito-bold';
	color: #363732;
	margin-left: 10px;
}

.index-gallery-bottom .index-gallery-buttons {
	margin-left: auto;
}

.index-gallery-bottom .index-gallery-buttons button {
	background: none;
	border: none;
	color: #555;
	font-size: 12px;
	font-family: 'nunito-bold';
}








/* design ideas finish */

section.crew {
	width: 90%;
	height: auto;
	margin: 50px auto;
}

section.crew .profiles {
	width: 100%;
	height: auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section.crew .profiles .profile-box {
	width: 300px;
	height: 440px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-image: url("../images/4.jpg");
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.crew .profiles .profile-box:nth-child(2) {
	background-image: url("../images/3.jpg");
}

section.crew .profiles .profile-box:nth-child(3) {
	background-image: url("../images/2.jpg");
}

section.crew .profiles .profile-box:nth-child(4) {
	background-image: url("../images/1.jpg");
}

section.crew .profiles .profile-box .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.45);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

section.crew .profiles .profile-box .overlay img.profile-foto {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-shadow: 0px 5px 15px rgba(0,0,0,.53);
	border: 4px solid #FFD982;
}

section.crew .profiles .profile-box .overlay p {
	font-size: 20px;
	font-weight: var(--bold);
	color: #fff;
	margin-bottom: 5px;
}
section.crew .profiles .profile-box .overlay img {
	margin-bottom: 20px;
	width: 154px;
	height: 22px;
}

section.crew .profiles .profile-box .overlay span {
	font-size: 14px;
	font-weight: var(--light);
	color: #fff;
	margin-bottom: 5px;
}

section.crew .profiles .profile-box .overlay a {
	width: 120px;
	height: 36px;
	border-radius: 18px;
	border: 2px solid #FFD982;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFD982;
	font-size: 15px;
	font-weight: var(--regular);
	margin-bottom: 24px;
}

section.crew .profiles .profile-box .overlay a:hover {
	transition: .3s;
	background-color: #FFD982;
	color: #fff;
}

/* crew finish */

section.blog {
	width: 90%;
	height: auto;
	margin: 0px auto;
}

section.blog .blog-posts {
	width: 100%;
	height: auto;
}

section.blog .blog-posts .post {
	width: 100%;
	height: 300px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,.16);
	border-radius: 10px;
	margin-top: 32px;
	padding: 10px;
	display: flex;
	align-items: center;
}

section.blog .blog-posts .post img {
	width: 400px;
	height: 280px;
	margin-right: 10px;
}

section.blog .blog-posts .post .blog-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;	
	height: 260px;
}

section.blog .blog-posts .post .blog-info .blog-text {
	border-left: 8px solid #AA7C13;
	padding-left: 10px;
}

section.blog .blog-posts .post .blog-info .blog-text span {
	font-size: 15px;
	font-weight: var(--regular);
	color: #AA7C13;
}
section.blog .blog-posts .post .blog-info .blog-text p {
	margin-top: 20px;
	font-size: 20px;
	font-weight: var(--regular);
}

section.blog .blog-posts .post .blog-info .blog-text span.author {
	font-size: 15px;
	font-weight: var(--light);
	color: #363732;
}

section.blog .blog-posts .post .blog-info > p {
	color: #363732;
	font-size: 18px;
	font-weight: var(--light);
}

section.blog .blog-posts .post .blog-info a {
	color: #AA7C13;
}

/* blog finish */


footer {
	width: 100%;
	height: 380px;
	background-color: #3A3A39;
	border-top: 1px solid #eee;
	margin-top: auto;
}

footer .footer-top {
	width: 90%;
	height: 280px;
	margin: 0  auto;
	border-bottom: 1px solid #707070;
	display: flex;
	justify-content: space-between;
}

footer .footer-top .top-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .footer-top .top-left .app-badges {
	display: flex;
	align-items: center;
}
.apple {
	margin-right: 12px;
}

footer .footer-top .top-left h1 {
	font-size: 32px;
	color: #fff;
	font-family: 'sofiapro-light';
	letter-spacing: 1px;
	margin-bottom: 30px;
}
footer .footer-top .top-left h1 > span {
	color: #FFD982;
}

footer .footer-top .top-left p {
	font-family: 'coco-light';
	font-size: 15px;
	color: #fff;
	width: 500px;
	margin-bottom: 30px;
	line-height: 1.4;

}

.icons a {
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: #FFD982;
	margin-right: 20px;
}

footer .footer-top .kesfet {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .footer-top .kesfet > h2 {
	margin-bottom: 30px;
	color: #fff;
	font-family: 'nunito-bold';
}

footer .footer-top .kesfet > a {
	margin-bottom: 12px;
	color: #fff;
	font-family: 'coco-light';
}

footer .footer-top .bilgi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -31px;
}

footer .footer-top .bilgi > h2 {	
	margin-bottom: 30px;
	color: #fff;
	font-family: 'nunito-bold';
}

footer .footer-top .bilgi > a {
	margin-bottom: 12px;
	color: #fff;
	font-family: 'coco-light';
}


footer .footer-top .footer-form	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -60px;
}

footer .footer-top .footer-form img {
	margin-bottom: 30px;
}

footer .footer-top .footer-form h3 {
	margin-bottom: 17px;
	font-family: 'nunito-regular';
	color: #fff;
}

footer .footer-top .footer-form p {
	margin-bottom: 15px;
	color: #fff;
	font-family: 'nunito-light';
	line-height: 1.4;
}


footer .footer-top .footer-form input {
	width: 250px;
	height: 30px;
	border-radius: 15px;
	background-color: #fff;
	border: 2px solid #FFD982;
	text-indent: 10px;
}


footer .footer-bottom {
	display: flex;
	width: 90%;
	margin: 0 auto;
	min-height: 95px;
	justify-content: center;
	align-items: center;
}

footer .footer-bottom p {
	color: #CFCFCF;
	font-weight: var(--light);
	font-size: 15px;
}

footer .footer-bottom .bottom-links a {
	border-right: 1px solid #cfcfcf;
	color: #cfcfcf;
	margin-right: 5px;
	padding-right: 5px;
	font-size: 14px;
	font-family: 'nunito-regular';
}

footer .footer-bottom .bottom-links a:last-child {
	border: none;
}


header .hamburger-menu button {
	display: none;
}

header .mobile-search {
	display: none;
}

header .mobile-search button {
	background: none;
	border: none;
	font-size: 18px;
	color: #eee;
}


.links {
	display: flex;
	justify-content: space-around;
	flex: 1;
}





/* design page codes */


.design-page {
	margin-bottom: 100px !important;
}

.design-page .gallery .gallery-img {
	margin: 10px;
}



/*dropdown options in design page */

.dropdown-tab p {
	line-height: 60px;
	padding: 0 30px;
	font-weight: var(--bold);
	color: #363732;
	cursor: pointer;
}

.dropdown-tab {
	position: relative;
}

.dropdown-box {
	width: 200px;
	height: 250px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.36);
	position: absolute;
	z-index: 99 !important;
	opacity: 0;
	pointer-events: none;
	transition: .3s;
}





.blog-articles {
	max-width: 100%;
	height: auto;	
	margin: 40px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.blog-articles .blog-box {
	width: 290px;
	height: 320px;
	display: flex;
	flex-direction: column;
}

.blog-articles .blog-box > img {
	width: 100%;
	border-radius: 5px;
}

.blog-articles .blog-box .blog-tags {
	font-size: 14px;
	margin-top: 10px;
}

.blog-articles .blog-box .blog-tags a {
	color: #2d2d2d;
	margin-right: 7px;
	border-bottom: 1px solid #AA7C13;
	font-family: 'coco-light';
}

.blog-articles .blog-box .blog-tags a:hover {
	color: #AA7C13;
	transition: .3s;
}

.blog-articles .blog-box > a.blog-title {
	margin-top: 10px;
	font-size: 20px;
	color: #363732;
	font-family: 'nunito-bold';
}

.blog-articles .blog-box a.blog-title:hover {
	color: #AA7C13;
	transition: .3s;
}

.blog-articles .blog-box .blog-info {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.blog-articles .blog-box .blog-info span {
	color: #8d8d8d;
	font-style: italic;
}

.blog-articles .blog-box .blog-info span > a {
	font-weight: var(--medium);
	color: #363732;
}


.blog-articles .blog-box .blog-info span > a:hover {
	color: #AA7C13;
	transition: .3s;
}

.blog-articles .blog-box .blog-info .dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #d8d8d8;
	margin: 0 7px;
}

.blog-articles .blog-box .p {
	margin-top: 10px;
	font-size: 16px;
	color: #5d5d5d;
	line-height: 1.6;
	font-family: 'nunito-light';
}

.blog-articles .blog-box .read {
	margin-top: 10px;
}

.blog-articles .blog-box .read a {
	color: #2d2d2d;
	font-family: 'coco-light';
	border-bottom: 1px solid #ddd;
}

.blog-articles .blog-box .read a:hover {
	border-bottom: 1px solid #AA7C13;
	color: #AA7C13;
	transition: .3s;
}


/* login forms */

/*
.login-form {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 9996;
	display: none;
}

.login-form .login-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	display: none;
}

.login-form .login-box {
	position: absolute;
	z-index: 9997 !important;
	width: 400px;
	height: 600px;
	border-radius: 10px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	display: none;

}

*/

label.login-container {
	margin-top: 10px;
}


.login-container {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	color: #5A5A5A;
	font-family: 'nunito-light';
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.login-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.login-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #ffffff;
	border: 1.5px solid #D19E2C;
	border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.login-container:hover input ~ .login-checkmark {
	background-color: #D19E2C;
}

/* When the checkbox is checked, add a blue background */
.login-container input:checked ~ .login-checkmark {
	background-color: #D19E2C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.login-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.login-container input:checked ~ .login-checkmark:after {
	display: inline-block;
}

/* Style the checkmark/indicator */
.login-container .login-checkmark:after {
	left: 6px;
	top: 1px;
	width: 8px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



.modal2 .container {
	padding: 35px;
}

/* The Modal (background) */
.modal2 {
	display: none;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}





.modal .container {
	padding: 35px;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

/* Modal Content/Box */
.modal-content {
	background-color: #f6f6f6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #eee;
	width: 400px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.30);
	display: flex;
	flex-direction: column;
}
.modal-content .container {
	height: 100%;
}

.modal-content .container h3 {
	font-size: 26px;
	text-align: center;
	font-family: 'nunito-regular';
	color: #272726;
	margin-top: 30px;
}
.modal-content .container p {
	font-size: 15px;
	text-align: center;
	font-family: 'nunito-regular';
	color: #272726;
	margin-top: 5px;
}

.modal-content .container input {
	width: 100%;
	height: 45px;
	border: 2px solid #D19E2C;;
	border-radius: 6px;
	margin-top: 20px;
	text-indent: 10px;
}

.modal-content .container input::placeholder {
	font-family: 'nunito-light';
	font-size: 15px;
	color: #5A5A5A;
}

.modal-content .container a.forget-pass {
	display: inline-block;
	margin-top: 10px;
	color: #D19E2C;
	text-decoration: underline;
	font-family: 'nunito-regular';
	font-size: 15px;
}

.modal-content .container p.or {
	margin-top: 30px;
	text-align: center;
	font-family: 'nunito-bold';
	font-size: 15px;
}

.modal-content .container a.facebook-login {
	width: 100%;
	height: 45px;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 10px;
	background-color: #475A96;
	color: #fff;
	border-radius: 6px;
}

.modal-content .container a.google-login {
	width: 100%;
	height: 45px;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 10px;
	border: 1px solid #3A3A39;
	color: #3A3A39;
	border-radius: 6px;
}

.modal-content .container button {
	width: 160px;
	height: 40px;
	border-radius: 40px;
	background-color: #D19E2C;
	border: none;
	color: #fff;
	margin-left: 85px;
	margin-top: 30px;
}

.modal-content .container p.dont-have-acc {
	margin-top: 20px;
}

.modal-content .container p.dont-have-acc > a {
	color: #AA7C13;
	text-decoration: underline;
}

/*
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}
*/

.mobile-search-modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

.mobile-search-modal form {
	width: 90%;
	height: 50px;
	background-color: #fff;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.mobile-search-modal form input {
	width: 90%;
	height: 50px;
	border: none;
	border-radius: 50px;
	background: none;
	text-indent: 20px;
	position: relative;
}

.mobile-search-modal form button {
	position: absolute;
	top: 50%;
	right: 10px;
	font-weight: var(--light);
	height: 48px;
	font-size: 18px;
	background: none;
	border: none;
	color: #2d2d2d;
	width: 50px;
	transform: translateY(-50%);
}



.mobile-menu-cont {
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
	height: 100vh;
	background-color: #fff;
	z-index: 9999;
	transform: translateX(-100%);
	transition: .5s ease;
}

.mobile-menu-cont .mobil-login {
	display: flex;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #eee;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}

.mobile-menu-cont .mobil-login a {
	font-size: 15px;
	font-family: 'nunito-bold';
	color: #2d2d2d;
}

.mobile-menu-cont .mobil-login button {
	font-size: 24px;
	color: #2d2d2d;
	background: none;
	border: none;
}


.mobile-menu-cont .mobile-menu-nav {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: column;
}

.mobile-menu-cont .mobile-menu-nav a {
	padding: 20px 25px;
	font-size: 15px;
	text-transform: uppercase;
	color: #2d2d2d;
	font-family: 'coco-small-regular';
	letter-spacing: 1px;
}

/* responsive codes */



@media only screen and (max-width: 1250px) {

	.blog-articles {
		justify-content: center;
	}


	header .hamburger-menu button {
		font-size: 30px;
		color: #fff;
		background: none;
		border: none;
		display: inline-block;
		margin-right: 20px;
	}

	header {
		width: 100%;
		min-height: 60px;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 5%;	
		background-color: #272726;
		display: flex;
		align-items: center;
	}

	header .search-bar {
		display: none;
	}


	header .mobile-search {
		display: inline-block;
		margin-left: auto;
	}

	header .search-bar input {
		width: 100%;
		height: 36px;
		border-radius: 25px;
		border: 1px solid #FFD982;
		background-color: #3A3A39;
		padding: 0 40px;
		color: #fff;
		font-weight: var(--bold);
	}


	header nav {
		display: none;
	}

	header nav a {
		font-size: 12px;
	}

	header .login-btn {
		display: none;
	}


	section.hero-image {
		width: 100%;
		height: 260px;
		margin-top: 55px;
		overflow: hidden;
		position: relative;
	}

	section.hero-image .image-overlay {
		position: absolute;
		width: 100%;
		height: 260px;
		background-color: rgba(0,0,0,.6);
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	section.hero-image .image-overlay h1 {
		font-size: 30px;
	}



	section.design-competition .card-container .card {
		width: 320px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 12px;
	}


	section.design-ideas .gallery {
		max-width: 100%;
		height: auto;
		margin: 30px auto 0px auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	section.design-ideas .gallery .gallery-img > img {
		width: 100%;
		height: 230px;
		margin-top: 30px;
		border-radius: 5px;
		box-shadow: 0px 0px 15px rgba(0,0,0,.16);
	}

	section.crew .profiles {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

	}

	section.crew .profiles .profile-box {
		margin: 14px;
	}


	section.blog {
		width: 90%;
		height: auto;
		margin: 50px auto;
	}

	section.blog .blog-posts {
		width: 100%;
		height: auto;
	}

	section.blog .blog-posts .post {
		width: 100%;
		height: auto;
		background-color: #fff;
		box-shadow: 0px 2px 4px rgba(0,0,0,.16);
		border-radius: 10px;
		margin-top: 32px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 50px;
	}

	section.blog .blog-posts .post img {
		width: 300px;
		height: 180px;
		margin-right: 10px;
		margin-bottom: 10px;
	}




	section.blog .blog-posts .post .blog-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;	
		height: 260px;
		margin-left: 10px;
	}

	section.blog .blog-posts .post .blog-info p {
		font-size: 15px;
		margin: 5px auto;
	}




	footer {
		width: 100%;
		height: auto;
		background-color: #3A3A39;
		border-top: 30px solid #E4E4E4;
	}

	footer .footer-top {
		width: 100%;
		height: auto;
		margin: 0  auto;
		border-bottom: 1px solid #707070;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}

	footer .footer-top .top-left {
		margin-top: 10px;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		flex-direction: column;
	}

	footer .footer-top .top-left p {
		width: 85%;
	}

	.links {
		margin: 30px auto;
		width: 100%;
		justify-content: space-around;
	}

	footer .footer-top .footer-form	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 20px auto;
	}



	footer .footer-bottom {
		display: flex;
		width: 90%;
		margin: 20px auto;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	footer .footer-bottom p {
		color: #CFCFCF;
		font-weight: var(--light);
		font-size: 15px;
		margin: 5px auto;
	}

	footer .footer-bottom .bottom-links a {
		border-right: 1px solid #cfcfcf;
		color: #cfcfcf;
		margin: 5px auto;
		margin-right: 5px;
		padding-right: 5px;
	}


}



@media only screen and (max-width: 900px) {
	
	section.crew {
		width: 96%;
		height: auto;
		margin: 50px auto;
	}

	section.crew .profiles {
		width: 100%;
		height: auto;
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	section.crew .profiles .profile-box {
		width: 200px;
		height: 300px;
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		align-items: center;
		background-image: url("../images/4.jpg");
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	section.crew .profiles .profile-box .overlay img.profile-foto {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		box-shadow: 0px 5px 15px rgba(0,0,0,.53);
		border: 2px solid #FFD982;
	}

}



@media only screen and (max-width: 490px) {
	section.crew .profiles .profile-box {
		width: 150px;
		height: 250px;
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		align-items: center;
		background-image: url("../images/4.jpg");
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	section.crew .profiles .profile-box .overlay img.profile-foto {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: 0px 5px 15px rgba(0,0,0,.53);
		border: 2px solid #FFD982;
	}


	section.crew .profiles .profile-box .overlay p {
		font-size: 15px;
		font-weight: var(--bold);
		color: #fff;
		margin-bottom: 5px;
	}
	section.crew .profiles .profile-box .overlay img {
		margin-bottom: 10px;
		width: 154px;
		height: 22px;
	}

	section.crew .profiles .profile-box .overlay span {
		font-size: 12px;
		font-weight: var(--light);
		color: #fff;
		margin-bottom: 5px;
	}

	section.crew .profiles .profile-box .overlay a {
		width: 90px;
		height: 26px;
		border-radius: 18px;
		border: 2px solid #FFD982;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFD982;
		font-size: 12px;
		font-weight: var(--regular);
		margin-bottom: 24px;
	}

	section.crew .profiles .profile-box .overlay a:hover {
		transition: .3s;
		background-color: #FFD982;
		color: #fff;
	}

	section.crew .profiles .profile-box .overlay img {
		margin-bottom: 20px;
		width: 114px;
		height: 18px;
	}


}


@media only screen and (max-width: 600px) {
	.tabs {
		display: none;
	}
}

@media only screen and (max-width: 450px) {

	/* Modal Content/Box */
	.modal-content {
		background-color: #f6f6f6;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #eee;
		width: 310px;
		min-height: 600px;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0,0,0,.30);
		display: flex;
		flex-direction: column;
	}
	.modal-content .container button {
		width: 160px;
		height: 40px;
		border-radius: 40px;
		background-color: #D19E2C;
		border: none;
		color: #fff;
		margin-left: 40px;
		margin-top: 30px;
	}
	.modal-kayit {
		height: 650px;
	}
}